---
import '@styles/global.css';
import Analytics from '@components/Analytics.astro';
import OpenGraph from '@components/OpenGraph.astro';
import Schema from '@components/Schema.astro';

const { title } = Astro.props;

let description = Astro.props.description || '';
let image;
let ogType = 'website';
if (Astro.props.entry) {
	if (Astro.props.entry.data?.description) {
		description = Astro.props.entry.data.description;
	}

	if (Astro.props.entry.data?.image) {
		image = Astro.props.entry.data.image;
	}

	if (Astro.props.entry.collection === 'blog') {
		ogType = 'article';
	}
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Analytics />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preload" href="/fonts/w95fa.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/ComicNeue-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/ComicNeue-Bold.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/papyrus.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/Tinos-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-precomposed.png">
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<OpenGraph title={title} url={Astro.url.href} description={description} imagePath={image} ogType={ogType} />
		<Schema props={Astro.props} />

		<script is:inline>
			// Better, and still prevents theme flash, but still not great.
			const root  = document.documentElement;
			const theme = localStorage.getItem('theme');
			// Duplicated from tokens.ts — is:inline scripts can't import ES modules
			const themeOptions = ['light', 'dark', 'sanity', 'hotdog'];

			if ( themeOptions.includes(theme) ) {
				for ( const themeOption of themeOptions ) {

					root.classList.remove(themeOption);

					if ( themeOption === theme ) {
						root.classList.add(theme);
					}
				}
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
